.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7e7c7c;
  opacity: 0.6;
  z-index: 5;
}

dialog {
  background: #fff;
  width: 40%;
  margin: auto;
  top: 5rem;
  border: 0;
  display: grid;
  gap: 12px;
  z-index: 8;
}

p {
  width: 100%;
  display: flex;
}

.top {
  padding: 2rem;
}

.close-btn {
  display: flex;
  background: none;
  border: 0;
  justify-self: right;
  cursor: pointer;
  margin-left: auto;
}

.middle {
  width: 100%;
  padding: 0.6rem 6rem;
  display: grid;
  gap: 0.6rem;
}

.middle h1 {
  font-size: 2rem;
  text-align: left;
}

.middle h4 {
  font-size: 1.2rem;
  text-align: left;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input {
  width: 100%;
  padding: 0.8rem;
  border: 0;
  border: 1px solid #c4c2c2;
  border-radius: 8px;
  font-size: 1.2rem;
  outline: none;
}

form input[type="image"]:first-child {
  margin-right: 1rem;
}

.selected {
  background-color: #8ef38e;
}

.actions button {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 3rem;
}

.bottom {
  background-color: #e7e6e6;
  color: #666666;
  padding: 0.8rem;
  font-size: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottom span {
  color: rgb(10, 170, 10);
  margin: 0 1ch;
  display: flex;
}
