<section>
  <header>
    <p>
      <img [src]="user.image" alt="avatar" width="30px" />
    </p>
    <div class="info">
      <h3>{{ user.name }}</h3>
      <h5>{{ tasks.length ? tasks.length : 0 }} tasks</h5>
    </div>
  </header>
  <div class="content">
    <button type="button" (click)="onAdd()"><span>+</span>add task</button>
    <ul>
      @for (task of tasks; track task.id) {
      <li>
        <span
          [class]="{
            status: true,
            completed: task.status === 'completed',
            inprogress: task.status === 'in-progress'
          }"
        ></span>
        <span
          [class]="{
            'status-text': true,
            'completed-status-text': task.status === 'completed'
          }"
          (click)="changeStatus(task.id)"
          >{{ task.title }}</span
        >
        @if (task.status==="completed") {
        <span class="delete-btn" (click)="deleteTask(task.id)"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#000"
          >
            <path
              d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
            />
          </svg>
        </span>
        }
      </li>
      }@empty {
      <h3 class="empty-msg">No Tasks🙄</h3>
      }
    </ul>
    <div class="overview">
      @if(inProgressCount){
      <p class="inprogress-text">
        in progress: <span>{{ inProgressCount }}</span>
      </p>
      }@if(completedCount){
      <p class="completed-text">
        completed: <span>{{ completedCount }}</span>
      </p>
      }@if (tasks.length>0 &&!inProgressCount && !completedCount) {
      <p><span>click on task to start</span></p>
      }
    </div>
  </div>
</section>
