p {
  width: 80%;
  padding: 6rem 3rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
  padding-top: 8rem;
}
