.container {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-self: center;
  align-items: center;
}

.container p {
  position: fixed;
  right: 6rem;
  top: 4rem;
}

.container p button {
  margin-left: auto;
  padding: 0.6rem;
  border: 0;
  background-color: #0fa90f;
  text-align: center;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
}

.members-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 70%;
  height: fit-content;
  scroll-behavior: smooth;
  padding: 10rem 1rem 4rem;
  justify-self: center;
}

.empty-msg {
  font-size: 4rem;
  text-transform: capitalize;
  grid-column: 1 / span 2;
  text-align: center;
  padding-top: 10rem;
}

.load-sample-btn {
  grid-column: 1 / span 2;
  width: max-content;
  margin: auto;
  text-transform: capitalize;
  background: none;
  border: 0;
  background-color: #0fa90f;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}
